{% extends "base.html" %}

{% block content %}
<h1>Моё предложение {{ choice }}</h1>
<div class="alert alert-dark" role="alert">
    Эта планета близка к Земле;
</div>
<div class="alert alert-success" role="alert">
    На ней есть вода и атмосфера
</div>
<div class="alert alert-secondary" role="alert">
    На ней много необходимых ресурсов;
</div>
<div class="alert alert-warning" role="alert">
    На ней есть небольшое магнитное поле
</div>
<div class="alert alert-danger" role="alert">
    Наконец, она просто красива!
</div>
{% endblock %} 