{% extends "base.html" %}

{% block content %}
<h2>Оформление каюты</h2>>
<table class="table">
    <thead>
    <tr class="table-secondary">
        <th scope="col">Цвет стен</th>
        <th scope="col">Эмблема</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>
            <img src="{{ color }}" alt="здесь должна была быть картинка, но не нашлась">

        </th>
        <th>

            <img src="{{ age }}" alt="здесь должна была быть картинка, но не нашлась">

        </th>
    </tr>
    </tbody>
</table>

{% endblock %} 